@use 'variables';

.navbar{
    display: none;
    width: 400px;
    &-items{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &-link{
        text-decoration: none;
        color: variables.$negro;
        display: block;
        height: 112px;
        padding-top: 42px;
        &:hover{
            border-bottom: 4px solid variables.$rojo;
        }
    }
    @media (min-width: 1115px){
        display: block;
    }
}