@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$rojo: #CD1110;
$amarillo: #F4F1BB;
$amarillo-oscuro: #e4dc4d;
$amarillo-palido: #f8f6d1;
$negro: #000000;
$blanco: #ffffff;
$gray-claro: hsl(0, 0%, 93%);
$negro-modal: hsl(0, 0%, 0%, 0.5);
$dark-gray:#3b3b3b;
$dark-gray-claro: #a0a0a0;
$Font: "Quicksand", sans-serif;